{% extends 'core/base.html' %}
{% load static %}

{% block main %}
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Cancelar prestação</p>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                <!-- Campo para digitar a senha -->
                <div>
                    <label for="senha">Senha:</label>
                    <input class="form-control" type="password" id="senha" name="senha" required>
                </div>
                <br>
                <button class="btn btn-primary btn-icon-split" type="submit"><span class="text-white-50 icon"><i class="fas fa-check"></i></span><span class="text-white text">Salvar</span></button>
            </form>
        </div>
    </div>
    <div class="card shadow" style="margin-top: 30px;">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Ações</p>
        </div>
        <div class="card-body"><a href="{% url 'investimento_cartao_parcelas' prestacao.investimento_cartao.pk %}" class="btn btn-secondary btn-icon-split" role="button"><span class="text-white-50 icon"><i class="fa fa-arrow-circle-left"></i></span><span class="text-white text">VOLTAR</span></a></div>
    </div>

{% endblock %}