{% extends 'core/base.html' %}
{% load static %}

{% block main %}

<h4 class="text-dark mb-4">Lista de Clientes Desativados</h4>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Clientes<a href="{% url 'cliente_create' %}" class="btn btn-primary btn-icon-split" role="button" style="float: right;font-size: 12px;"><span class="text-white-50 icon"><i class="fas fa-plus"></i></span><span class="text-white text">ADICIONAR</span></a></p>
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table style="font-size:14px;" class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>CPF</th>
                            <th>Data de Nascimento</th>
                            <th>Endereço</th>
                            <th>Ativo</th>
                            <th>Editar</th>
                            <th>Ativar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                            <tr>
                                <td>{{ cliente.nome }}</td>
                                <td>{{ cliente.telefone }}</td>
                                <td>{{ cliente.cpf }}</td>
                                <td>{{ cliente.data_nascimento|date:"d/m/Y" }}</td>
                                <td>{{ cliente.endereco }}</td>
                                <td>{{ cliente.ativo|yesno:"Sim,Não" }}</td>
                                <td><a href="{% url 'cliente_edit' cliente.pk %}" class="btn btn-warning btn-circle ms-1" role="button" data-bs-toggle="tooltip" data-bss-tooltip="" title="EDITAR"><i class="fas fa-eye text-white"></i></a></td>
                                <td>
                                    <a href="{% url 'cliente_ative' cliente.pk %}" onclick="return confirm('Tem certeza que deseja ativar?');" class="btn btn-success btn-circle ms-1" role="button" data-bs-toggle="tooltip" title="ATIVAR">
                                        <i class="fas fa-check text-white"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">Nenhum cliente ativo encontrado. </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            {% if clientes.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1" aria-label="Primeira página">
                                        <span aria-hidden="true">««</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ clientes.previous_page_number }}" aria-label="Página anterior">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% for num in paginas_visiveis %}
                                <li class="page-item {% if clientes.number == num %}active{% endif %}">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endfor %}

                            {% if clientes.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ clientes.next_page_number }}" aria-label="Próxima página">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ clientes.paginator.num_pages }}" aria-label="Última página">
                                        <span aria-hidden="true">»»</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    <a style="font-size:12px;" href="{% url 'cliente_list' %}" role="button" class="btn btn-success btn-icon-split" type="submit">
                        <span class="text-white-50 icon"><i class="fa fa-eye"></i></span>
                        <span class="text-white text">VER CLIENTES ATIVOS</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}