{% extends 'core/base.html' %}
{% load static %}

{% block main %}

    <div class="alert alert-success" role="alert"><span><strong>ATENÇÃO!!!</strong>&nbsp;Você está prestes a ativar o cliente "{{ cliente.nome }}".</span></div>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Ativar</p>
        </div>
        <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-success btn-icon-split" type="submit">
                        <span class="text-white-50 icon"><i class="fa fa-trash"></i></span>
                        <span class="text-white text">CONFIRMAR</span>
                    </button>
                </form>
        </div>
    </div>
    <div class="card shadow" style="margin-top: 30px;">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Ações</p>
        </div>
        <div class="card-body"><a href="{% url 'cliente_desativado_list' %}" class="btn btn-secondary btn-icon-split" role="button"><span class="text-white-50 icon"><i class="fa fa-arrow-circle-left"></i></span><span class="text-white text">VOLTAR</span></a></div>
    </div>


{% endblock %}