{% extends 'core/base.html' %}
{% load static %}

{% block main %}
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Excluir saque de cartão (R$ {{saque_cartao.valor}})</p>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-danger btn-icon-split" type="submit">
                    <span class="text-white-50 icon"><i class="fas fa-trash"></i></span>
                    <span class="text-white text">EXCLUIR</span>
                </button>
            </form>
        </div>
    </div>
    <div class="card shadow" style="margin-top: 30px;">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Ações</p>
        </div>
        <div class="card-body">
            <a href="{% url 'saque_cartao_list' saque_cartao.investimento.pk %}" class="btn btn-secondary btn-icon-split" role="button">
                <span class="text-white-50 icon"><i class="fa fa-arrow-circle-left"></i></span>
                <span class="text-white text">VOLTAR</span>
            </a>
        </div>
    </div>
{% endblock %}