{% extends 'core/base.html' %}
{% load static %}

{% block main %}
    <div class="card shadow">
        <div class="card-header py-3">
            <!-- Título condicional para criação ou edição -->
            <p class="text-primary m-0 fw-bold">
                {% if form.instance.pk %}
                    Editar Investimento de Dinheiro para {{ periodo.cliente.nome }}
                {% else %}
                    Criar Investimento de Dinheiro para {{ periodo.cliente.nome }}
                {% endif %}
            </p>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Exibe os campos do formulário -->
                {{ form.as_p }}
                <!-- Botão de envio, com texto condicional -->
                <button class="btn btn-primary btn-icon-split" type="submit">
                    <span class="text-white-50 icon"><i class="fas fa-check"></i></span>
                    <span class="text-white text">
                        {% if form.instance.pk %}
                            Atualizar
                        {% else %}
                            Salvar
                        {% endif %}
                    </span>
                </button>
            </form>
        </div>
    </div>

    <div class="card shadow" style="margin-top: 30px;">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Ações</p>
        </div>
        <div class="card-body">
            <!-- Botão de voltar que leva o usuário à lista de investimentos do cliente -->
            <a href="#" class="btn btn-secondary btn-icon-split" role="button">
                <span class="text-white-50 icon"><i class="fa fa-arrow-circle-left"></i></span>
                <span class="text-white text">VOLTAR</span>
            </a>
        </div>
    </div>
{% endblock %}