{% extends 'core/base.html' %}
{% load static %}

{% block main %}

    <div class="card shadow">
        <div class="card-header py-3">
            <i class="fa fa-line-chart" style="font-size: 45px;color:#0b2752;margin-bottom:0px;"></i>
            <p style="color:#0b2752;margin-bottom:0px;"> <strong>INVESTIMENTOS</strong></p>
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table style="font-size:14px;" class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Investidor</th>
                            <th style="min-width:150px;">Tipo</th>
                            <th>Início</th>
                            <th>Fim</th>
                            <th>Sócio</th>
                            <th>Valor</th>
                            <th>% rendimentos</th>
                            <th>Rend. mês</th>
                            <th>Rend. período</th>
                            <th>Valor Maquineta</th>
                            <th>Mesa</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in investimentos %}
                            <tr>
                                {% if not i.finalizado %}
                                    <td><span style="color:white;background:blue;border-radius:5px;padding:5px;">{{ forloop.counter }}</span></td>
                                {% else %}
                                    <td><span style="color:white;background:gray;border-radius:5px;padding:5px;">{{ forloop.counter }}</span></td>
                                {% endif %}
                                <td>{{ i.cliente.nome }}</td>
                                <td style="color:{{i.modo.cor}}"><i class="{{i.modo.icone}}"></i> {{ i.modo.tipo }}</td>
                                <td>{{ i.data_inicio|date:"d/m/Y" }}</td>
                                <td>{{ i.data_fim|date:"d/m/Y" }}</td>
                                <td>{{ i.socio }}</td>
                                <td>R$ {{ i.valor_formatado }}{% if i.reinvestido %} (reinvestido){% endif %}</td>
                                <td>{{ i.porcent_rend_valor }}%</td>
                                <td>R$ {{ i.rendimento_mes }}</td>
                                <td>R$ {{ i.rendimentos }}</td>
                                <td>
                                    {% if i.cartao %}
                                        {{ i.maquineta_detail }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'conta_list' i.cliente.pk %}" class="btn btn-success btn-circle ms-1" role="button" data-bs-toggle="tooltip" data-bss-tooltip="" title="MESA"><i class="fas fa-table text-white"></i></a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="9">Nenhum investimento encontrado. </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            {% if investimentos.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1" aria-label="Primeira página">
                                        <span aria-hidden="true">««</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ investimentos.previous_page_number }}" aria-label="Página anterior">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% for num in paginas_visiveis %}
                                <li class="page-item {% if investimentos.number == num %}active{% endif %}">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endfor %}

                            {% if investimentos.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ investimentos.next_page_number }}" aria-label="Próxima página">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ investimentos.paginator.num_pages }}" aria-label="Última página">
                                        <span aria-hidden="true">»»</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow" style="margin-top: 20px;">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Ações</p>
        </div>
        <div class="card-body"><a href="{% url 'index' %}" class="btn btn-secondary btn-icon-split" role="button"><span class="text-white-50 icon"><i class="fas fa-arrow-left"></i></span><span class="text-white text">VOLTAR</span></a></div>
    </div>

{% endblock %}