{% extends 'core/base.html' %}
{% load static %}

{% block main %}

<h5 style="maring-bottom:0px;" class="text-dark mb-4">Investidor: {{ periodo.cliente.nome }}</h5>
    <div class="card shadow">
        <div class="card-header py-3">
            <i class="fa fa-rocket" style="font-size: 30px;color:green;margin-bottom:0px;display:inline;margin-right:5px;"></i>
            <p style="color:green;margin-bottom:0px;display:inline;font-size:20px;"> <strong>ALAVANCAGEM</strong></p>
            <span style="margin-top:0px;margin-bottom:0px;display:block;">{{ periodo.data_inicio }} à {{ periodo.data_fim }}</span>
        </div>
        <div class="card-body">

            <div style="border: 1px solid blue;padding:5px;margin-bottom:10px;">
                <div style="background:#ededed;"><i class="material-icons" style="font-size: 25px;width: 100%;color: blue;display:inline;">check_circle</i> <span style="font-size:20px;display:inline;color:black;"><strong>Em andamento</strong></span><a href="{% url 'investimento_alavancagem_create' periodo.pk %}" class="btn btn-primary btn-icon-split" role="button" style="float: right;font-size: 12px;width:200px;"><span class="text-white-50 icon"><i class="fas fa-money"></i></span><span class="text-white text">ADICIONAR</span></a></div>
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table style="font-size:14px;" class="table my-0" id="dataTable">
                        <thead>
                            {% if periodo.investimentos %}
                                <tr>
                                    <th>Nº</th>
                                    <th>Início</th>
                                    <th>Fim</th>
                                    <th>Sócio</th>
                                    <th>Valor</th>
                                    <th>% rendimentos</th>
                                    <th>Rendimentos</th>
                                    <th>Comprovante</th>
                                    <th>Autorização</th>
                                    <th>Editar</th>
                                    <th>Excluir</th>
                                </tr>
                            {% endif %}
                        </thead>
                        <tbody>
                            {% for i in periodo.investimentos %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ i.data_inicio|date:"d/m/Y" }}</td>
                                    <td>{{ i.data_fim|date:"d/m/Y" }}</td>
                                    <td>{{ i.socio }}</td>
                                    <td>R$ {{ i.valor_formatado }}</td>
                                    <td>{{ i.porcent_rend_valor }}%</td>
                                    <td>R$ {{ i.valor_rendimento_formatado }}</td>
                                    <td>comprovante</td>
                                    <td>{{ i.autorizador }}</td>
                                    <td><a href="{% url 'investimento_alavancagem_edit' i.pk %}" class="btn btn-warning btn-circle ms-1" role="button" data-bs-toggle="tooltip" data-bss-tooltip="" title="EDITAR"><i class="fas fa-eye text-white"></i></a></td>
                                    <td>
                                        <a href="{% url 'investimento_alavancagem_delete' i.pk %}" onclick="return confirm('Tem certeza que deseja excluir?');" class="btn btn-danger btn-circle ms-1" role="button" data-bs-toggle="tooltip" data-bss-tooltip="" title="EXCLUIR"><i class="fas fa-trash text-white"></i></a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="9">Nenhuma alavancagem encontrada. </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <table>
                    <tr>
                        <td>Total Investido</td>
                        <td><strong>R$ {{periodo.soma_investimentos}}</strong></td>
                    </tr>
                    <tr>
                        <td>Total Rendimentos</td>
                        <td><strong>R$ {{periodo.soma_rendimentos}}</strong></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="card shadow" style="margin-top: 20px;">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Ações</p>
        </div>
        <div class="card-body"><a href="{% url 'periodo' periodo.cliente.pk %}" class="btn btn-secondary btn-icon-split" role="button"><span class="text-white-50 icon"><i class="fas fa-arrow-left"></i></span><span class="text-white text">VOLTAR</span></a></div>
    </div>

{% endblock %}