{% extends 'core/base.html' %}
{% load static %}

{% block main %}
    <div class="card shadow">
        <div class="card-body">
            <div style="width: 100%;max-width: 600px;display: inline-block;">
                <h4>{{ conta.cliente.nome}}</h4>
                <p style="margin: 0;font-size: 14px;">Conta: {{investimento.conta.numero}}</p>
                <p style="margin: 0;font-size: 14px;">Abertura: {{investimento.conta.data_abertura}}</p>
            </div>
            <div style="width: 100%;max-width: 200px;display: inline-block;float: right;">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">CARTEIRA</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'mesa_geral' investimento.conta.pk %}">GERAL</a>
                        <a class="dropdown-item" href="{% url 'mesa_dinheiro' investimento.conta.pk %}">DINHEIRO</a>
                        <a class="dropdown-item" href="{% url 'investimento_cartao' investimento.conta.pk %}">CARTÃO</a>
                        <a class="dropdown-item" href="#">ALAVANCAGEM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">CARTÃO</p>
        </div>
        <div class="card-body" style="background: #172452;">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1" style="color: white;background: #172452;">PRESTAÇÕES</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab-1">
                        <div class="table-responsive" style="margin-top: 20px;">
                            <div style="padding: 10px;background: white;margin-top: 20px;border-radius: 5px;">
                                {% if investimento.prestacoes %}
                                    <table style="font-size:14px;" class="table table-hover table-sm">
                                        <thead>
                                            <tr>
                                                <th><strong>Nº</strong></th>
                                                <th><strong>Data de vencimento</strong></th>
                                                <th><strong>Data de pagamento</strong></th>
                                                <th><strong>Valor</strong></th>
                                                <th><strong>Comprovante</strong></th>
                                                <th><strong>Status</strong></th>
                                                <th><strong>Pagamento</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for p in investimento.prestacoes %}
                                            <tr>
                                                <td>
                                                    {% if not p.pago %}
                                                        {{ forloop.counter }}
                                                    {% else %}
                                                        <span style="color:white;background-color:green;border-radius:3px;padding-left:5px;padding-right:5px;">{{ forloop.counter }}</span>
                                                    {% endif %}

                                                </td>
                                                <td>{{ p.data_vencimento }}</td>
                                                <td>
                                                    {% if p.data_pagamento %}
                                                        {{ p.data_pagamento }}
                                                    {% endif %}
                                                </td>
                                                <td>R$ {{ p.valor }}</td>
                                                <td>COMP</td>
                                                <td>
                                                   {% if not p.pago %}
                                                       <span style="color: black;">Aguardando</span>
                                                    {% else %}
                                                        <span style="color: green;">Pago</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if not p.pago %}
                                                        <a href="{% url 'pagar_prestacao' p.pk %}" class="btn btn-success btn-circle ms-1" role="button" data-bs-toggle="tooltip" data-bss-tooltip="" title="PAGAR"><i class="fas fa-money-bill-wave text-white"></i></a>
                                                    {% else %}
                                                        <a href="{% url 'cancelar_pagamento_prestacao' p.pk %}" class="btn btn-secondary btn-circle ms-1" role="button" data-bs-toggle="tooltip" data-bss-tooltip="" title="CANCELAR PAGAMENTO"><i class="fas fa-window-close text-white"></i></a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <p>Nenhum registro.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow" style="margin-top: 20px;">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Ações</p>
        </div>
        <div class="card-body">
            <a href="{% url 'investimento_cartao' investimento.conta.pk %}" class="btn btn-secondary btn-icon-split" role="button"><span class="text-white-50 icon"><i class="fas fa-arrow-left"></i></span><span class="text-white text">VOLTAR</span></a>
        </div>
    </div>

{% endblock %}